<!-- your html code here -->
<div class="container mb-3 w-auto h-50 p-0">
    <div class="container p-0 ps-4 mb-3">
        <h2 class="card-title">Contact</h2>
        <p class="card-text">Amet facilisis magna etiam tempor orci eu lobortis elementum nibh. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Molestie ac feugiat sed lectus vestibulum mattis. Ultricies mi eget mauris pharetra et ultrices neque ornare aenean. Pellentesque nec nam aliquam sem et tortor. Et tortor at risus viverra adipiscing at.</p>
    </div>
    <div class="w-auto ps-4 row justify-content-center ">
        <form class="w-50">
            <div class="mb-1">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
            </div>
            <div class="mb-1">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            </div>
            <div class="mb-1 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Let's go!</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>